html, body, .banned-post .thread {
	background: #ffffee !important;
	color: #800000 !important;
	font-family: sans-serif;
	font-size: 92%;
	line-height: 145%;
}

.barra {
	border: 1px solid #DDBEAB;
	background: #F7E8DF;
	border-radius: 5px;
}

.barra {
	text-align: center;
	font-size: 105%;
	line-height: 140%;
	padding: 8px 5px 8px 5px;
}

a {
	color: #E60000;
	text-decoration: none;
}

.logo {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 10px;
	font-size: 220%;
	line-height: 120%;
}

.logo {
	color: #E60000;
}

.avisoverde {
	padding: 10px;
	background: #E3EDE3;
	color: #2D492C;
	border: 1px solid #5FA75E;
	border-radius: 5px;
	line-height: 135%;
}

hr {
	height: 1px;
	color: #C4A38E;
	background-color: #C4A38E;
	border: 0 none;
}

.postarea table {
	margin: 0px auto;
	text-align: left;
}
